<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>This is your cart</h1>
    <div>
        <a href="/">Home</a>
        <a href="/products">Products</a>
    </div>
    <ul>
        <li>Owner: {{existingCart.owner._id}}</li>
        <hr>
        {{#each existingCart.products}}
        <li>Products: {{productId}}</li>
        <li>Quantity: {{quantity}}</li>
        <hr>
        {{/each}}
        <li>Total Quantity: {{existingCart.totalQuantity}}</li>
        <li>Total Price: {{existingCart.totalPrice}} $</li>
    </ul>
</body>

</html>