<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/creator.css">
    <title>Document</title>
</head>

<body>
    <div class="title">
        <div>
            <a href="/" class="link">Home</a>
        </div>
        <h1>Publish a new product!</h1>
        <div></div>
    </div>
    <div class="panel">
        <div class="panel-form">
            <form action="/products/create" method="POST" enctype="multipart/form-data">
                <label for="name">
                    <p>Name</p>
                    <input type="text" name="name" id="">
                </label>
                <label for="category">
                    <p>Category</p>
                    <input type="text" name="category" id="">
                </label>
                <label for="description">
                    <p>Description</p>
                    <input type="text" name="description" id="">
                </label>
                <label for="price">
                    <p>Price</p>
                    <input type="text" name="price" id="">
                </label>
                <label for="image">
                    <p>Image</p>
                    <input type="file" name="image" accept="jpg,jpeg,png">
                </label>
                <label for="button">
                    <input type="submit" value="Create Product">
                </label>
            </form>
        </div>

    </div>
</body>

</html>