<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Edit your product</h1>
    <h1>{{product.name}}</h1>
    <form action="/products/edit/{{product._id}}" method="POST" enctype="multipart/form-data">
        <label for="name">
            <p>Name</p>
            <input name="name" type="text" value="{{product.name}}" id="">
        </label>
        <label for="category">
            <p>Category</p>
            <input name="category" type="text" value="{{product.category}}" id="">
        </label>
        <label for="description">
            <p>Description</p>
            <input name="description" type="text" value="{{product.description}}" id="">
        </label>
        <label for="price">
            <p>Price</p>
            <input name="price" type="text" value="{{product.price}}" id="">
        </label>
        <label for="image">
            <p>Image</p>
            <input name="image" type="file" name="image" accept="jpg,jpeg,png">
        </label>
        <label for="button">
            <input type="submit" value="Edit Product">
        </label>
    </form>
</body>

</html>