<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deep Dark</title>
</head>

<body>
    <a href="/">Home</a>
    <h1>Houston we have a problem...</h1>
    <h2>We think this might be it {{message}}</h2>
    <p>STATUS: {{status}}</p>

</body>

</html>