<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <title>Deep Dark</title>
</head>

<body>
    <header class="header-content">
        <h1 class="title">Deep Dark</h1>
    </header>


    <div class="panelcenter">
        <nav class="panel">

            {{#if user}}
            <div class="profile-bar">
                <p>welcome {{user.name}}</p>
                <div>
                    <form action="/auth//logout" method="POST">
                        <input type="submit" value="Logout">
                    </form>
                </div>
                <div>
                    <a href="/cart"><button>My Cart</button></a>
                </div>

            </div>
            <div class="links-whith-user">
                <a href="/products" class="link">Products</a>
                <a href="/products/create" class="link">Create Products</a>
            </div>
            {{else}}
            <div class="link-container">
                <a href="/products" class="link">Products</a>
                <a href="/products/create" class="link">Create Products</a>
                <a href="/auth/register" class="link">Register</a>
                <a href="/auth/login" class="link">Log in</a>
            </div>

            {{/if}}

        </nav>

    </div>


</body>

</html>