<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Login working</h1>
    <a href="/auth/register">Register</a>
    <form action="/auth/login" method="POST">
        <label for="">
            <p>Email :</p>
            <input type="text" name="email" id="">
        </label>
        <label for="password">
            <p>Password :</p>
            <input type="password" name="password" id="">
        </label>
        <div>
            <input type="submit" value="Log In"></input>
        </div>
    </form>

</body>

</html>