<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>You dont have anything in your cart, go and buy something!!</h1>
    <div>
        <a href="/products">Buy something!!</a>
    </div>
</body>

</html>