<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/products.css">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="title-container">
            <div>
                <a href="/" class="link">Home</a>
            </div>
            <h1>Products List</h1>
            <div></div>
        </div>

    </div>



    <div>
        {{#each allproducts}}
        <div class="main-container">


            <div class="text">

                <p>name: {{name}}</p>
                <p>category: {{category}}</p>
                <p>description: {{description}}</p>
                <p>price: {{price}}</p>
                {{#if rating}}
                <p>rating: {{rating}}</p>
                {{/if}}

                {{#if coments}}
                <p>rating: {{coments}}</p>
                {{/if}}


            </div>
            {{#if image}}
            <div>
                <img src="{{image}}" alt="producto" class="img">
            </div>

            {{/if}}
        </div>


        <div>
            <a href="/products/edit/{{_id}}">
                <button>EDIT</button>
            </a>
            <form action="/products/delete/{{_id}}?_method=DELETE" method="POST">
                <button class="editbutton">Delete</button>
            </form>

        </div>

        <form action="/cart/add-to-cart/{{_id}}" method="POST">
            <button type="submit">Add to cart</button>
        </form>




        {{/each}}
    </div>

</body>

</html>