<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deep Dark</title>
</head>

<body>
    <h1>Register working</h1>
    <div>
        <a href="/">HOME</a>
    </div>
    <form action="/auth/register" method="POST">
        <label for="email">
            <p>Email :</p>
            <input type="text" name="email">
        </label>
        <p>Name :</p>
        <label for="name">
            <input type="text" name="name">
        </label>
        <label for="password">
            <p>Password :</p>
            <input type="password" name="password">
        </label>
        <label for="adress">
            <p>adress :</p>
            <input type="text" name="adress">
        </label>
        <div>
            <input type="submit" value="Register">
        </div>

    </form>

</body>

</html>