html,body{
    margin: 0px;
    background-image: url(https://cdn.statically.io/img/wallpaperplay.com/walls/full/6/0/4/155105.jpg);
}
.title{
    border:1px solid white;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}
.panel{
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    margin-top: 100px;
    

}
.panel-form{
    border: 1px solid white;
    width: 600px;
    background-color: rgba(0, 255, 255, 0.548);
    
}
.link{
    padding-left: 20px;
    color: white;
    font-size: 26px;
}


