
html,body{

    margin: 0px;
    background-image: url(https://cdn.statically.io/img/wallpaperplay.com/walls/full/6/0/4/155105.jpg);
}

.header-content{
   
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.title{
    margin: 0px;
    color: black;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    text-shadow: 0px 0px 30px #ffffff, 0 0 50000px #ffffff;
    
}
.panelcenter{
    /* border:1px solid white; */
    display: flex;
    justify-content:center;
    
    
    
}
.panel{
    background-color: lightblue;
    border:3px solid rgb(140, 205, 227);
    width: 80%;
    height: 400px;
    box-shadow: 2px 2px 20px 15px rgba(62, 110, 125, 0.399);
}
.link-container{
    /* border:1px solid green; */
    margin-top: 30px;
    display:flex;
    justify-content: space-around;
}
.link {
    
    font-size:20px;
    font-family:'Arial Narrow Bold', sans-serif;
    /* border: 1px solid black; */
    /* padding: 30px; */
    
}
.links-whith-user{
    /* border:1px solid black; */
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}
a {
    text-decoration: none;
    color:black;
}
.profile-bar{
    border:1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

