html,body{
    margin: 0px;
    background-image: url(https://cdn.statically.io/img/wallpaperplay.com/walls/full/6/0/4/155105.jpg);
}
h1{
    color:white;
}
p{
    color:white; 
}
.main-container{
    margin-left: 40px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
}

.header{
    border:1px solid white;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0.363);

}
.title-container{
    width: 90%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.img{
    width:300px;
}
.links-container{
    border: 1px solid green;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.link{
    color: white;
    font-size: 18px;
    /* margin-left: 20px; */
}
.text{
    width: 300px;
}